.common-card-one {
  display: flex;
  background-color: #d4a6ab;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
  padding: 20px;
  margin: auto;
  font-family: 'Arial', sans-serif;
  max-width: 550px;
  
  justify-content: space-between;

  @media (max-width: 768px) {
    max-width: 90%;
    padding: 10px;
  }

  @media (max-width: 480px) {
    max-width: 100%;
    padding: 10px;
  }


  .voucher {
    padding: 2px 16px;
    background-color: #e7e7e7;
    background: linear-gradient(90deg, rgba(255, 152, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);

    font-size: 0.8rem;
    border-radius: 15px;
    overflow: hidden; // Hide overflow
    white-space: nowrap; // Prevent line breaks
    width: 100%; // Ensure it takes full width of the parent
    max-width: 246px; // Set a max width as needed
    cursor: pointer;
    position: relative;

    .scroll-text {
      display: inline-block;
      position: relative;
      
      left: 0; // Start outside the right edge
      animation: none; // No animation by default
      transition: left 0.5s ease-in-out;

      &:hover {
        animation: scroll-text 5s linear infinite; // Start scrolling on hover
        left: 0; // Reset to start position
      }

      @keyframes scroll-text {
        0% {
          left: 0%; // Start at the initial position
        }

        100% {
          left: -100%; // Move left to hide
        }
      }
    }
  }


  .circle-progress {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .button-streaks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .icon-text {
    display: flex;
    align-items: baseline;
    @media (max-width: 413px) {
      flex-direction: column;
      align-items: center;
      white-space:nowrap;
      gap:5px
    }
  }

  .details-text{
    font-size: 20px;
    @media (max-width: 413px) {
      font-size: 15px;
    }
  }

  .go-button {
    background-color: black;
    color: #fff;
    padding: 6px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
    }
  }



}