.referrals-card-wrapper {
  box-sizing: border-box;
  display: flex;
  background-color: #d4a6ab;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
  padding: 15px 12px;
  margin: auto;
  gap: 15px;
  flex-direction: column;
 
  max-width: 550px;
  justify-content: space-between;
   
  
  .referral-voucher {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgba(255, 152, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.29px;
    height: 20px; 
    cursor: pointer;
    text-overflow: ellipsis;
    .text {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #06182CCC;
    }
    
  }
  .referral-voucher:hover .text {
      animation: scroll-left 3s linear infinite;
    }
    .referral-voucher .scroll-active{
      animation: scroll-left 3s linear 1;
    }
  @keyframes scroll-left {
      from {
        overflow: visible;
        transform: translateX(0);
      }
      to {
        overflow: visible;
        transform: translateX(-100%);
      }
    }
  

  .circle-progress-text {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  .referral-details{
    display: flex;
    flex-direction: column;
  }
  .referrals-details-text{
    font-size: 14px;
    margin: 0;
    font-weight: 500;
  }

  .text-ellipsis-referrals {
    margin: 0;
    color: #06182CCC;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .referrals-go-button {
    background-color: black;
    color: #fff;
    width: 61px;
    height: 26px;
    padding: 2.5px 8px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
    }
  }
  .button-streaks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

 


  
  }
  
 
    
    