
  
  
.player-card{
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin: auto;
  // font-family: "Soehne", sans-serif;
}
.player-card-top{
  width: 100%;
  display: flex;
  align-items: center;
}

.player-name-points{
  width: 70%;
}
.player-name-title{
  display: flex;
  flex-direction: column;
}
.palyer-name{
  font-size: 20px;
  font-weight: 700;
  color: #06182C;
  // line-height: 20px;
  //  font-family: "Soehne";
}
.palyer-title{
  color: #06182C80;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
}
.player-text{
  color: rgba(6, 24, 44, 0.5);
  font-size: 12px;
  font-weight: 400;
  // line-height: 10px;
}

.player-point-text{
  display: flex;
  gap: 30px;  
  .player-points-streak-rank{
     display: flex;
     flex-direction: column;
  }
  .player-point{
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    
  }
}

.player-point-gap{
  display: flex;
  flex-direction: column;
}
.player-point-gap-increase{
  display: flex;
  flex-direction: column;
}

.player-voucher {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;

  padding: 0px 10px;
  box-sizing: border-box;
  
  border-radius: 11px;
  overflow: hidden; // Hide overflow
  white-space: nowrap; // Prevent line breaks
  width: 100%; // Ensure it takes full width of the parent
  max-width: 200px;// Set a max width as needed
  height: 20px; 
  cursor: pointer;
  
 
  .scroll-text {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.29px;
    color: #06182CCC;

    text-overflow: ellipsis;
    overflow: hidden;

    animation: none; // No animation by default
    transition: left 0.5s ease-in-out;
    &:hover {
      overflow: visible;
      animation: scroll-text 5s linear infinite; // Start scrolling on hover
      left: 0; // Reset to start position
    }

    @keyframes scroll-text {
      0% {
        left: 0%; // Start at the initial position
      }

      100% {
        left: -100%; // Move left to hide
      }
    }
  }
}

.player-card-middle{
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;//--
  margin: 10px 0px;
}

.streak-icon{
  height: 20px;
  align-items: center;
  display: flex;
}
.circle-progress {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-card-last{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;;
}
.details{
  display: flex;
  flex-direction: column;

}
.details-text{
  font-weight: 700;
  font-size: 14px;
  line-height: 17.84px;
  color: #06182CE5;
  margin: 0;
}

.out-of-point{
  font-weight: 300;
  font-size: 22px;
  color: #06182CCC;
  margin: 0;
  line-height: 28px;
}
.time-duration{
  font-weight: 400;
  font-size: 12px;
  color: #06182CCC;
  line-height: 10.29px;
   margin: 0;
}

.player-go-button {
  background-color: #06182C;
  color: #FFFFFF;
  width: 61px;
  height: 26px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
 
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #333;
  }
}