.success-without-reward-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Transparent black background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
    .success-without-container{
    background-color: white;
    border-radius: 15px;
    height: 85vh;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: #45454526;
    overflow-y: auto; 
    padding: 20px;
    }
    .reward-container{
        width: 70px;
        height: 80px;
        border-radius: 10px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .success-without-btn {
        background-color: black;
        color: white;
        padding: 6px 30px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        border: 1px solid black;
        transition: background-color 0.3s ease;
      
        &:hover {
          background-color: #333;
        }
      }

  }