.highlite-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    z-index: 100;
  }
 
  .highlite-modal {
   
    //  padding: 20px;
    
    background-color: #fff;
    border-radius: 8px;
    max-height: 80vh;
    position: relative;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
  }
 
  .highlite-modal > :not(.top-card) {
    padding: 20px; /* Default padding */
  }
  
  .highlite-modal.no-padding > :not(.top-card) {
    padding: 0px; /* Remove padding when the .no-padding class is applied */
  }
  
  .highlie-modal-title{
    display: flex;
    justify-content: space-between;
    p{
      font-size: 20px;
      font-weight: bold;
    }
  }
  .highlite-cards{
   gap:20px;
   display:flex;
   flex-direction:column
  }

  .quest-see{
    display: flex;
    justify-content: space-between;
  }
  .see{
       color:rgba(6, 24, 44, 0.8);
        font-size:0.8rem;
        text-decoration:underline;
        cursor:pointer
  }
  
  .highlite-close-btn{
    // position: fixed;
    cursor: pointer;
    //  left: 50px;
  }

  
  