.user-habit-container {
  display: flex;
  background-color: #d4a6ab;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
  padding: 15px 12px;
  margin: auto;
  gap: 15px;
  flex-direction: column;
  justify-content: space-between;




  .user-habit-voucher {
    padding: 2px 16px;
    background-color: #e7e7e7;
    background: linear-gradient(90deg, rgba(255, 152, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);

    font-size: 0.8rem;
    border-radius: 15px;
    overflow: hidden; // Hide overflow
    white-space: nowrap; // Prevent line breaks
    width: 100%; // Ensure it takes full width of the parent
    max-width: 246px; // Set a max width as needed
    cursor: pointer;
    position: relative;

    .scroll-text {
      display: inline-block;
      position: relative;
      font-size: 12px;
      font-weight: 500;
      left: 0; // Start outside the right edge
      animation: none; // No animation by default
      transition: left 0.5s ease-in-out;

      &:hover {
        animation: scroll-text 5s linear infinite; // Start scrolling on hover
        left: 0; // Reset to start position
      }

      @keyframes scroll-text {
        0% {
          left: 0%; // Start at the initial position
        }

        100% {
          left: -100%; // Move left to hide
        }
      }
    }
  }


  .circle-progress {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  .button-streaks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .icon-text {
    display: flex;
    align-items: baseline;
    @media (max-width: 413px) {
      flex-direction: column;
      align-items: center;
      white-space:nowrap;
      gap:5px
    }
  }

  .details-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.84px;
   
  }

  .go-button {
    background-color: black;
    color: #fff;
    width: 60px;
    height: 26px;
    padding: 2.5px 8px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
    }
  }
  // .last-part-quest{
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 8px 15px;
  //   background-color:rgba(255, 255, 255, 0.3) ;
  //   border-radius: 40px ;
  // }
  // .icon-text-quest{
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 10px;
   
  // }
  // .text-ellipsis {
  //   margin: 0;
  //   font-size: 12px;
  //   font-weight: 500;
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
    
  //   @media (max-width: 452px) {
      
  //     max-width: 150px; // Adjust based on how much space you want to allow
  //   }
  // }

  // .arrow-box{
  //   width: 30px;
  //   cursor: pointer;
  //   height: 30px;
  //   border-radius: 50%;
  //   background-color: black;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }



}